* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: whitesmoke;
}


#logo {
  height:50px;
}
.navbar {
  margin: 0 70px 20px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

.row div svg {
  margin: 48px auto;
  display: block;
}

#chart-area3,
#chart-area1,
#chart-area2,
#chart-area4 {
  position: relative;
}

#counter-label-2 {
  position: absolute;
  right: 0;
  top: 60px;
  font-size: 1.5em;
  user-select: none;
  width: 60px;
  text-align: left;
  color: violet;
}
#input-max-2 {
  position:absolute;
  right: 10px;
  top: 105px;
  font-size: 1.3em;
  user-select: none;
  width: 50px;
  text-align: left;
}
#input-label-2 {
  position: absolute;
  right: 0;
  top: 150px;
  font-size: 1em;
  user-select: none;
  width: 60px;
  text-align: left;
}

.controller {
  position: absolute;
  right: 0;
  top: 0;

  width: 80px;
  height: 40px;
  font-size: 1em;
  user-select: none;
  outline: none;
}
.controller:focus {
  outline: none;
}